/* 脚注加粗，非斜体 */
.footnote-item {
  font-style: normal;
  font-weight: bold;
}
/* 去掉链接下划线 */
.vp-doc a {
  text-decoration: none;
}

  .outline-link{
  /* 对于任何尺寸均使 TOC 文本换行*/
   white-space: normal !important;
  }

