/* 引用格式缩进 */
.vp-doc blockquote > p + p
{
	margin-block-start: 1em;
 /* 只给相邻段落之间加 1em 间距 */
}

/* 脚注加粗，非斜体 */
.footnote-item
{
	font-style: normal;
	font-weight: bold;
}
/* 链接样式 */
.vp-doc a
{
	text-decoration: none; /* 去掉链接下划线 */
	color: #FF0072; /* 链接使用秋冬季配色 */
}



@media (min-width: 1920px)
{
/* 左侧边栏 */
.VPSidebar {
  position: fixed !important;
  left: 0% !important;
  width: 17.5% !important;         /* 用 width 代替 max-width */
  max-width: none !important;    /* 禁用最大宽度限制 */
  padding-left: 2.5% !important;
}

/* 选中分组中的项目 */
.VPSidebarItem {
  padding: 0.25% 0;
  word-break: break-word;
}

/* 右侧边栏 */
.aside {
  position: fixed !important;
  right: 7.5% !important;
  max-width: 10% !important; /* 右栏宽度占页面 10% */
  padding-left: 0 !important;
}

	.aside-container
	{
  /* 右 TOC 文本宽度*/
		max-width: 15% !important;
	}

/* 主体内容居中 */
.VPContent.has-sidebar {
  padding: 0 0% !important;
}

/* 文档正文不被遮挡 */
.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

/* 主体部分 */
.VPDoc {
  max-width: 65% !important; /* 主体部分限制宽度 */
  margin: 2.5% auto !important; /* 主体部分距离导航栏的高度 */
}

	.VPNavBar .content
	{
    /* 导航栏左侧最远至，为 0 时到达最左侧，覆盖原来的位置 */
		padding-left: 20.5% !important;
    /* 导航栏右侧最远至，为 0 时到达最右侧，覆盖原来的位置 */
		padding-right: 0 !important;
	}
  /* 导航栏标题左、右侧缩进，同时 padding-left 决定了搜索框的位置  */
/* 导航栏标题 */
	.VPNavBar .title
	{
    /* 导航栏标题左侧缩进 */
		padding-left: 3.25% !important;
	}


}

@media (min-width: 2560px)
{
/* 左侧边栏 */
.VPSidebar {
  position: fixed !important;
  left: 0% !important;
  width: 17.5% !important;         /* 用 width 代替 max-width */
  max-width: none !important;    /* 禁用最大宽度限制 */
  padding-left: 2.5% !important;
}

/* 选中分组中的项目 */
.VPSidebarItem {
  padding: 0.25% 0;
  word-break: break-word;
}

/* 右侧边栏 */
.aside {
  position: fixed !important;
  right: 7.5% !important;
  max-width: 10% !important; /* 右栏宽度占页面 10% */
  padding-left: 0 !important;
}

	.aside-container
	{
  /* 右 TOC 文本宽度*/
		max-width: 15% !important;
	}

/* 主体内容居中 */
.VPContent.has-sidebar {
  padding: 0 0% !important;
}

/* 文档正文不被遮挡 */
.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

/* 主体部分 */
.VPDoc {
  max-width: 65% !important; /* 主体部分限制宽度 */
  margin: 2.5% auto !important; /* 主体部分距离导航栏的高度 */
}

	.VPNavBar .content
	{
    /* 导航栏左侧最远至，为 0 时到达最左侧，覆盖原来的位置 */
		padding-left: 21.5% !important;
    /* 导航栏右侧最远至，为 0 时到达最右侧，覆盖原来的位置 */
		padding-right: 0 !important;
	}
  /* 导航栏标题左、右侧缩进，同时 padding-left 决定了搜索框的位置  */
/* 导航栏标题 */
	.VPNavBar .title
	{
    /* 导航栏标题左侧缩进 */
		padding-left: 3.25% !important;
	}

@media (min-width: 3840px)
{
/* 左侧边栏 */
.VPSidebar {
  position: fixed !important;
  left: 0% !important;
  width: 17.5% !important;         /* 用 width 代替 max-width */
  max-width: none !important;    /* 禁用最大宽度限制 */
  padding-left: 2.5% !important;
}

/* 选中分组中的项目 */
.VPSidebarItem {
  padding: 0.25% 0;
  word-break: break-word;
}

/* 右侧边栏 */
.aside {
  position: fixed !important;
  right: 7.5% !important;
  max-width: 10% !important; /* 右栏宽度占页面 10% */
  padding-left: 0 !important;
}

	.aside-container
	{
  /* 右 TOC 文本宽度*/
		max-width: 15% !important;
	}

/* 主体内容居中 */
.VPContent.has-sidebar {
  padding: 0 0% !important;
}

/* 文档正文不被遮挡 */
.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

/* 主体部分 */
.VPDoc {
  max-width: 65% !important; /* 主体部分限制宽度 */
  margin: 2.5% auto !important; /* 主体部分距离导航栏的高度 */
}

	.VPNavBar .content
	{
    /* 导航栏左侧最远至，为 0 时到达最左侧，覆盖原来的位置 */
		padding-left: 22.5% !important;
    /* 导航栏右侧最远至，为 0 时到达最右侧，覆盖原来的位置 */
		padding-right: 0 !important;
	}
  /* 导航栏标题左、右侧缩进，同时 padding-left 决定了搜索框的位置  */
/* 导航栏标题 */
	.VPNavBar .title
	{
    /* 导航栏标题左侧缩进 */
		padding-left: 3.25% !important;
	}


}


}
.outline-link
{
  /* 对于任何尺寸均使 TOC 文本换行*/
	white-space: normal !important;
}

/* 导入 LXGW WenKai Screen*/
:root
{
	--vp-font-family-base: 'LXGW WenKai GB Screen';
	--vp-font-family-default: 'Noto Sans SC';
	--vp-font-family-mono: 'LXGW WenKai Mono GB Screen';
  /* 定义一个 semibold 使用的字体栈，与 strong 相同 */
	--vp-font-family-semibold: var(--vp-font-family-default);
  /* 定义 semibold 的字重，通常对应 600 */
	--vp-font-weight-semibold: 500;
}

/* normal 字重文字使用 LXGW WenKai Screen */
body,
p,
span
{
	font-family: var(--vp-font-family-base);
	font-weight: normal;
}

/* 当需要粗体（bold）时，加粗 */
strong, b
{
	font-family: var(--vp-font-family-default);
	font-weight: 700;
}

/* 为 semibold 定义样式 */
.semibold
{
	font-family: var(--vp-font-family-semibold);
	font-weight: var(--vp-font-weight-semibold);
}

/* 标题渐变配色 */
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6,
.vp-doc .header-anchor:before {
	background: linear-gradient(90deg, #f3714b 0%, #f5a67a 50%, #f8c27b 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* brand 配色 */
:root {
	--vp-c-brand-1: #FF0072;
	--vp-c-brand-2: #3dd68c;
	--vp-c-brand-3: #30a46c;
}
/* 夜间配色 */
.dark {
	--vp-c-brand-1: #3dd68c;
	--vp-c-brand-2: #30a46c;
	--vp-c-brand-3: #298459;
}

